<html>
  <head>
    <script src="https://rs-test.poms.omroep.nl/v1/media-domain/js/MediaObjects.js" ></script>
    <script src="https://rs-test.poms.omroep.nl/v1/media-domain/js/MediaObject.js" ></script>
    <script src="https://poms.omroep.nl/CMSSelector/js/media.js"> </script>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

    <meta name="mid" content="{{mid}}" />
    <script src="js/index.js" ></script>
  </head>
  <body>
    <h1>Title</h1>
    <p>playable on: <span id="playable"></span></p>

    <button id="select">SELECT</button>
  </body>
</html>
